<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    {{ partial "head.html" . }}
    {{ with .Site.Params.head_custom }}{{ . | safeHTML }}{{ end }}
</head>
<body>
    <header>
        <h1>{{ .Site.Title }}</h1>
        <nav>
            {{ partial "nav.html" . }}
        </nav>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        {{ partial "footer.html" . }}
    </footer>

    {{ partial "scripts.html" . }}
</body>
</html>
